*{
    box-sizing: border-box;
}



table,tr,th,td{
    border: gray solid 2px;
    border-collapse: collapse;

    
    color: #f5f5f5;
}

table,tr,th{
    background-color: #1F1F1F;

}

table,tr,th,td{
    background-color: #3D3D3D;
    padding: 10px;
}


body{
    background-image: url("https://westeurope1-mediap.svc.ms/transform/thumbnail?provider=spo&inputFormat=jpg&cs=fFNQTw&docid=https%3A%2F%2Falqudscollege-my.sharepoint.com%3A443%2F_api%2Fv2.0%2Fdrives%2Fb!2spDmTvk_Ey3l_QSLPv1vkLnsRzUCaRDqWTh1FX8GP5tUMRzFWzmQ47zimRsNl9q%2Fitems%2F015YABFJXHGVDY2GB3KVDZEBRU55PJGNVY%3Fversion%3DPublished&encodeFailures=1&ctag=%22c%3A%7B8D4735E7-3B18-4755-9206-34EF5E9336B8%7D%2C1%22&width=626&height=417&srcWidth=626&srcHeight=417");
    font-family: 'Noto Sans', sans-serif;

    background-repeat: no-repeat;

   background-size: 100%;
}



header{
    background-color: #1F1F1F;
    height: 80px;
    color: #f5f5f5;
    text-align: center;
    font-size: 40px;
}


header, h1{
   
    padding: 10px;
}


#first-form{
    background-color: rgba(114, 104, 211, 0.8);
    display: inline-block;
    float: left;
    padding: 50px;
    position: relative;
   
    top: 100px;
    left: 200px;
}


#second-table{

    background-color: rgba(114, 104, 211, 0.8);
    display: inline-block;
    float: left;
text-align: center;
    padding: 50px;
    position: relative;
    top: 100px;
    left: 300px;
}


#form{
    text-align: center;
}


